<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351905956852-26jsj1e1u32vblrkqege9tb058otp6qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351905956852-26jsj1e1u32vblrkqege9tb058otp6qk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351905956852-vaqrgg6qdbjlge2r9b9v12nofltebkvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAliTT_14b2hq63CC0Y_cw6Rd0fWmtlZs</string>
	<key>GCM_SENDER_ID</key>
	<string>351905956852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.datingLiveApp</string>
	<key>PROJECT_ID</key>
	<string>dating-live-app-477af</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-live-app-477af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351905956852:ios:7115ac61ce37be935a2fa1</string>
</dict>
</plist>